<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
    <session-factory name="java:comp/env/jdbc/quarknet">
        <!-- DONT map subclasses here -->
        <mapping resource="gov/fnal/elab/db/Institution.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Job.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Use.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Comment.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/MilestoneSet.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/MilestonePlacement.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Project.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Login.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Group.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/PropertyValue.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/PropertyName.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/ProjectProperty.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/ResponseSheet.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Test.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Choice.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Response.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Question.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/Permissions.hbm.xml"/>
        <mapping resource="gov/fnal/elab/db/PermissionSet.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
