a#nav-assessment {
	font-style: italic;
}
#assessment #content #center ul ul {
	margin-left: 1.5em; 
	/*padding-left: 16px;*/
}

#assessment #content #center ul {
	 margin-left: 10px;
}

.assessment #center em {
	color: #333399;
	font-weight: bold;
	font-style: normal;
}

.assessment #center p {
	font-weight: normal;
	margin-left: 10px;
}

.assessment #center ul {
	font-weight: normal;
	margin-left: 10px;
	margin-left: 0px;
	padding-left: 32px;
}

#assessment h1 {
	margin-top: 10px;
	background-color: #ffcc00;
	color: #000000;
	width: 790px;
}
/*
	Italiciize corresponding subnav item 
*/
#assessment		 	#subnav a[href="../assessment"] {
	font-style: italic;
}

#nav #subnav ul li:first-child a {
	border-left: none;
}


.float {
	float: left;
	padding-right: 8px;
}

#assessmentRubric {
margin-left: 20px;
}

#assessmentRubric h1 {
	margin-top: 10px;
	background-color: #ffcc00;
	color: #000000;
	width: 650px;
  font-size: 110%;
}

#assessmentRubric #content {
	margin-left: 10px;
	width: 625px;
  font-size: 14px;
}

.assessmentRubric p {
	font-size: 90%; 
}

#assessmentRubric table td {
	border: 1px solid gray;
		font-size: 85%; 
}

#assessmentRubric table {
	margin-left: auto;
	margin-right: auto;
}

#assessmentRubric td {
	padding: 6px;
	vertical-align: top;
}

#assessmentRubric th {
	font-weight: normal;
	vertical-align: top;
	}
