#sub-library {
	display: none; 
}

#sub-data {
	display: block; 
}

#sub-posters {
	display: none; 
}

#sub-siteindex {
	display: none; 
}

#sub-home {
	display: none;
}

a#nav-data {
	font-style: italic;
}

.data #center em {
	color: #333399;
	font-weight: bold;
	font-style: normal;
}

.data #center p {
	font-weight: normal;
	margin-left: 10px;
}

.data dt {
	font-weight: bold;
}

.data dd {
	padding-bottom: 6px;
}

/*
	Italicisize corresponding subnav item
*/
#data			 	#subnav a[href="../data"],
.tutorial		 	#subnav a[href="../data/tutorial1.jsp"] {
	font-style: italic;
}
#search-plots		 	#subnav a[href="../plots/"] {
	font-style: italic;
}

#nav #subnav ul li:first-child a {
	border-left: none;
}


.float {
	float: left;
	padding-right: 8px;
}

ul#nav-tutorial li {
	display: inline;
	text-align: center;
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul#nav-tutorial a {
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
	border-left: 3px solid #c0c0c0;
	font-weight: bold;
	color: #000080;
}

ul#nav-tutorial li:first-child a {
	border-left: none;
}

#tutorial1 #nav-tutorial a[href="../data/tutorial1.jsp"],
#tutorial2 #nav-tutorial a[href="../data/tutorial2.jsp"],
#tutorial3 #nav-tutorial a[href="../data/tutorial3.jsp"],
#tutorial4 #nav-tutorial a[href="../data/tutorial4.jsp"],
#tutorial5 #nav-tutorial a[href="../data/tutorial5.jsp"],
#tutorial6 #nav-tutorial a[href="../data/tutorial6.jsp"],
#tutorial7 #nav-tutorial a[href="../data/tutorial7.jsp"],
#tutorial8 #nav-tutorial a[href="../data/tutorial8.jsp"],
#tutorial9 #nav-tutorial a[href="../data/tutorial9.jsp"],
#tutorial10 #nav-tutorial a[href="../data/tutorial10.jsp"],
#tutorial11 #nav-tutorial a[href="../data/tutorial11.jsp"],
#tutorial12 #nav-tutorial a[href="../data/tutorial12.jsp"] {
	font-style: italic;
}