#sub-library {
	display: none; 
}

#sub-data {
	display: block; 
}

#sub-posters {
	display: none; 
}

#sub-siteindex {
	display: none; 
}

#sub-home {
	display: none;
}

a#nav-data {
	font-style: italic;
}

.data #center em {
	color: #333399;
	font-weight: bold;
	font-style: normal;
}

.data #center p {
	font-weight: normal;
	margin-left: 10px;
}

.data dt {
	font-weight: bold;
}

.data dd {
	padding-bottom: 6px;
}

/*
	Italicisize corresponding subnav item
*/
#data			 	#subnav a[href="../data"],
.tutorial		 	#subnav a[href="../data/tutorial1.jsp"] {
	font-style: italic;
}
#search-plots		 	#subnav a[href="../plots/"] {
	font-style: italic;
}

#nav #subnav ul li:first-child a {
	border-left: none;
}


.float {
	float: left;
	padding-right: 8px;
}

ul#nav-tutorial li {
	display: inline;
	text-align: center;
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul#nav-tutorial a {
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
	border-left: 3px solid #c0c0c0;
	font-weight: bold;
	color: #000080;
}

ul#nav-tutorial li:first-child a {
	border-left: none;
}

.plot-thumbnail-image {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#tutorial1 #nav-tutorial a[href="../data/tutorial1.jsp"],
#tutorial2 #nav-tutorial a[href="../data/tutorial2.jsp"],
#tutorial3 #nav-tutorial a[href="../data/tutorial3.jsp"],
#tutorial4 #nav-tutorial a[href="../data/tutorial4.jsp"],
#tutorial5 #nav-tutorial a[href="../data/tutorial5.jsp"],
#tutorial6 #nav-tutorial a[href="../data/tutorial6.jsp"],
#tutorial7 #nav-tutorial a[href="../data/tutorial7.jsp"],
#tutorial8 #nav-tutorial a[href="../data/tutorial8.jsp"],
#tutorial9 #nav-tutorial a[href="../data/tutorial9.jsp"],
#tutorial10 #nav-tutorial a[href="../data/tutorial10.jsp"],
#tutorial11 #nav-tutorial a[href="../data/tutorial11.jsp"],
#tutorial12 #nav-tutorial a[href="../data/tutorial12.jsp"] {
	font-style: italic;
}

.analysis {
	font-size: 12px;
}

.steps {
	padding-left: 32px;
}

.steps li {
	list-style: none;
	margin-left: 32px;
	height: 32px;
}

.steps .current {
	font-weight: bold;
	list-style: url("../graphics/step-current.gif");
}

.steps .valid {
	list-style: url("../graphics/step-valid.gif");
}

.steps .future {
	color: #808080;	
}

#controls {
	vertical-align: bottom;
	width: 480px;
	padding: 32px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e0e0e0;
}

.radio {
	padding-left: 8px;
	margin-bottom: 16px;
	margin-top: 16px;
}

#form-content {
	height: 570px;
}

#wizard-buttons {
	padding: 24px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#wizard-buttons input {
	width: 92px;
	text-align: center;
	border: thin solid blue;
}

#button-previous {
	float: left;
}

#button-next {
	float: right;
}

#progress {
	padding: 0px;
	border: thin solid black;
}

#progress-indicator {
	background: #8080ff;
}

#output {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.toolbox {
	width: 100%;
	border: thin dashed gray;
	background-color: #e8e8e8;
	border-collapse: collapse;
}

tr.toolbox-row, .toolbox tr {
	border-top: thin dashed gray;
	padding: 1px;
	margin: 1px;
}

.toolbox-heading, .toolbox th {
	background-color: #e0e0e0;
	padding-left: 8px;
	vertical-align: bottom;
	border: thin dashed gray;
}

.toolbox-content {
	margin: 0px;
	padding: 0px;
	padding-left: 8px;
	border: thin dashed gray;
}

.toolbox-separator {
	border-left: thin dashed gray;
	margin-left: 16px;
	margin-right: 8px;
	height: 100%;
}

#super-bluestone input[type="text"] {
	border: thin solid gray;
}

#plot-table {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

#plot {
	width: 100%;
	border: thin dashed gray;
	padding: 8px;
	margin: 0px;
}

.filler {
	width: 98%;
}

#channel-list-advanced td {
	border: thin dashed gray;
	padding-left: 2px;
}

#plot-table {
	width: 100%;
}
.right-aligned {
	text-align: right;
}