#sub-library {
	display: block; 
}

#sub-data {
	display: none; 
}

#sub-posters {
	display: none; 
}

#sub-siteindex {
	display: none; 
}

a#nav-library {
	font-style: italic;
}

#sub-library {
	display: block;
}

#sub-home {
	display: none;
}

.library #center h2 {
//	display: inline;	
	padding-bottom: 6px;
	margin-left: 0px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 100%;
	color: #333399;
}

.library #center em {
	color: #333399;
	font-weight: bold;
	font-style: normal;
}

.library #center p {
	font-weight: normal;
	margin-left: 10px;
}

#first-web #content #right {
	width: 140px;
}

a.button {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.library dt {
	font-weight: bold;
}

.library dd {
	padding-bottom: 6px;
}

/*
	Italicize corresponding subnav item
*/
#milestones-map 	#subnav a[href="../library/milestones-map.jsp"],
#research-basics 	#subnav a[href="../library/research-basics.jsp"],
#resources		 	#subnav a[href="../library/resources.jsp"],
#big-picture	 	#subnav a[href="../library/big-picture.jsp"],
#faq			 	#subnav a[href="../library/FAQ.jsp"],
#site-tips			#subnav a[href="../library/site-tips.jsp"],
#library 			#subnav a[href="../library"] {
	font-style: italic;
}
 

#nav #subnav ul li:first-child a {
	border-left: none;
}

.float {
	float: left;
	padding-right: 8px;
}

#show-all-references {
/*	background-image: url("../graphics/Quadrille.gif"); */
}

#show-all-references #references-table {
	border: thin outset gray;
}

#show-all-references #references-table td {
	border: thin inset gray;
	padding: 4px;
}

#show-all-references #references-table .reference-text {
	background-color: white;
}
