#sub-library {
	display: none; 
}

#sub-data {
	display: none; 
}

#sub-posters {
	display: none; 
}

#sub-siteindex {
	display: block; 
}

#sub-home {
	display: none;
}

#sitehelp-home
{
z-index: 5;
background-color: #000000;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-home a {
	color: #ff9933;
	text-decoration: none;
	font-size: 85%;
}

#sitehelp-library
{
z-index: 5;
background-color: #000000;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-library a {
	color: #33ffcc;
	text-decoration: none;
	font-size: 85%;
}


#sitehelp-data
{
z-index: 5;
background-color: #000000;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-data a {
	color: #3399ff;
	text-decoration: none;
	font-size: 85%;

}

#sitehelp-posters
{
z-index: 5;
background-color: #000000;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-posters a {
	color: #33cc33;
	text-decoration: none;
	font-size: 85%;

}


#sitehelp-assessment
{
z-index: 5;
background-color: #000000;
//height: 2em;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-assessment a {
	color: #ffff00;
	text-decoration: none;
	font-size: 85%;

}



