#sub-library {
	display: none; 
}

#sub-data {
	display: none; 
}

#sub-posters {
	display: none; 
}

#sub-siteindex {
	display: block; 
}

#sub-home {
	display: none;
}

a#nav-siteindex {
	font-style: italic;
}

.site-index #center em {
	color: #333399;
	font-weight: bold;
	font-style: normal;
}

.site-index #center p {
	font-weight: normal;
	margin-left: 10px;
}

a.button {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.site-index dt {
	font-weight: bold;
}

.site-index dd {
	padding-bottom: 6px;
}

/*
	Italicisize corresponding subnav item
*/
#site-index		 	#subnav a[href="../site-index"],
#site-map-anno	 	#subnav a[href="../site-index/site-map-anno.jsp"] {
	font-style: italic;
}
 

#nav #subnav ul li:first-child a {
	border-left: none;
}


.float {
	float: left;
	padding-right: 8px;
}

th.data {
	background-color: black;
	border-top: #72a1cc 1px solid;
	border-left: #72a1cc 1px solid;
	border-bottom: #305c85 1px solid;
	border-right: #305c85 1px solid;
}

th.data a {
	text-decoration: none; 
	color: white;
}

td.data {
	background-color: white;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	padding: 3px;
	font-size: 80%;
}

th.data a:hover {
	color: black;
}

th.home {
	background-color: black;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
}

th.home a {
	text-decoration: none; 
	color: white;
}

th.home a:hover {
	color: black;
}

td.home { 
	background-color: white;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	padding: 3px;
	font-size: 80%;
}

th.library {
	background-color: black;
	border-top: #a7d2d8 1px solid;
	border-left: #a7d2d8 1px solid;
	border-bottom: #3c777f 1px solid;
	border-right: #3c777f 1px solid;
}

#main th.library a {
	text-decoration: none; 
	color: #33ffcc;
}

#main th.posters a {
	text-decoration: none; 
	color: #33CC33;
}

#main th.data a {
	text-decoration: none; 
	color: #88BBFF;
}


#main th.assessments a {
	text-decoration: none; 
	color: #FFFF00;
}


th.library a:link {
	text-decoration: none; 
	color: #33ffcc;
}
th.library a:visited {
	text-decoration: none; 
	color: #33ffcc;
}
th.library a:active {
	text-decoration: none; 
	color: #33ffcc;
}


th.library a:hover {
	color: black;
}

td.library {
	background-color: white;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	padding: 3px;
	font-size: 80%;
}

th.posters {
	background-color: black;
	border-top: #70a98c 1px solid;
	border-left: #70a98c 1px solid;
	border-bottom: #2d6348 1px solid;
	border-right: #2d6348 1px solid;
}

th.posters a {
	text-decoration: none; 
	color: white;
}

th.posters a:hover {
	color: black;
}

td.posters {
	background-color: white;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	padding: 3px;
	font-size: 80%;
}

th.assessments {
	background-color: black;
	border-top: #ffd940 1px solid;
	border-left: #ffd940 1px solid;
	border-bottom: #b59100 1px solid;
	border-right: #b59100 1px solid;
}

th.assessments a {
	text-decoration: none; 
	color: white;
}

th.assessments a:hover {
	color: black;
}

td.assessments {
	background-color: white;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	padding: 3px;
	font-size: 80%;
}