#content #col1 {
	width: 75px;
	padding-right: 15px;
}

#content #col2 {
	width: 175px;
}
#content #col3 {
	width: 100px;
}
#content #col4 {
	width: 125px;
}
#content #col5 {
	width: 125px;
}
#content #col6 {
	width: 125px;
}