#header-image img {
	height: 77px;
}

#header-title {
	font-size: 180%;
	margin-left: 0px;
	margin-top: 8px;
}

#second-header-title {
	display: none;
}
#expandHeading a {
	text-decoration: none;
	}

.serial-num {
  display:none;
	width: 2px;
	height: 2px;
}
