<style type="text/css">
#geo_container {
    width:750px;
    padding-top: 10px; 
    margin: 0 auto;
    background-color: #FFF; 
    font-family: Verdana, Arial, sans-serif;
    text-align:left;
}

div#edit_geo_entry1 {
	width: 500px;
	background: #CCCCCC;
	color: #000;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

div#edit_geo_entry {
    float: right;
    width: 500px;
    background: #CCCCCC;
    color: #000;
    text-align:left;
}

div#existing_geo_entries {
    float: left;
    background: #CC99CC;
    color: #000;
    text-align: left;
    min-height: 100px;
}

#edit_title {
    font-size: 110%;
    padding-bottom: 15px;
    color: #000;
}

#geo_commited {
    text-align: center;
    padding-top: 8px;
}

.edit_subheading {
    font-size: 100%;
    color: #333;
    padding-bottom: 15px;
}

.detector {
    font-size: 100%;
    color: #333333;
}

#geo_orientation td {
    color: #333;
    text-align:center;
    padding-bottom:15px;
}

#geo_gps td {
    color: #333;
    text-align:left;
    padding-bottom:15px;
    font-size: 80%;
}

#geo_channels td {
    color: #000000;
    text-align:right;
    font-size: 80%;
}

#geo_channels th {
    color: #666666;
    text-align:right;
    font-size: 80%;
    font-weight: normal;
}

#geo_channels table {
    padding-bottom: 15px;
}

div.geo_padded_interior {
    padding: 8px 5px 2px 10px;
}

div.geo_indented_big {
    padding-left: 12px;
}

div.geo_indented_small {
    padding-left: 0px;
}

div.geo_indented_small table {
    padding-top: 8px;
    padding-bottom: 8px;
}

div.geo_indented_big table {
    padding-top: 8px;
    padding-bottom: 8px;
}

div.geo_indented_small td {
    color:#000;
}

div.geo_indented_big td {
    color:#000;
}

.value {
  font-weight: bold;
}

.unit {
  font-size: 80%;
}

</style>

