.sub {color: #000000;font-family: sans-serif;font-size: 8pt;}
.sub a:link {text-decoration: none}
.sub a:visited {text-decoration: none}
.sub a:hover {text-decoration: underline;font-weight: bold}
.log {font-size: small;font-family: sans-serif; color: #6699FF}
.log a:visited {color: #99CCFF}
.log a:hover {text-decoration: underline; color: #00FFFF}
.table {color: #0000FF,font-family: arial,sans-serif;font-size: 12px;}
.table a:link {text-decoration: underline}
.table a:visited {text-decoration: underline; color:blue}
.table a:hover {text-decoration: underline}
.table: {padding: 4em; border-collapse: collapse; width: 480px}

.orderby {background-color: lightyellow}

body { font:12px arial, helvetica, sans-serif;
     background-color: #FFFFFF;
     background-image: url("../graphics/quadrille_red.gif");
     background-repeat: repeat;
}

a:link { color: rgb(255, 0, 0); TEXT-DECORATION: underline }
a:visited { color: rgb(255, 0, 0); TEXT-DECORATION: underline }
a:active { color: rgb(205, 0, 0) }
a:hover { color: rgb(0, 0, 0); TEXT-DECORATION: underline }
    
td {
        font-size:12px;  
}

p {
	font:12px arial, helvetica, sans-serif;  
}

