#main-table {
	width: 800px;
	margin-bottom: 16px;
}

#main-table td {
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.details:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    background: #FFFFE5;
    margin-left: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:200px;
    overflow: auto;
    border-radius: 5px 5px 5px;
	border: 1px solid black;
}
