#test  ol {
	font-weight: normal;
	margin-left: 10px;
	margin-left: 0px;
	padding-left: 32px;
	padding-bottom: 6px;
}

#test  li {
	padding-bottom: 12px;
}

#test ul {
	margin-left: 16px;
	list-style-type: none;
	padding-top: 10px;
}

