#assessment h1 {
	background-color: #ffcc00;
	color: #000000;
	width: 650px;
	
	/* Gradients: WebKit, Firefox 3.6+, IE8, IE7 */
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#fff));
	background-image:-moz-linear-gradient(left top, left bottom, from(#ffcc00), to(#fff));
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00ffcc00', endColorstr='#FFFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00ffcc00', endColorstr='#FFFFFFFF');
}

#assessment #content {
	margin-left: 10px;
	width: 650px;
}

#assessment table, td {
	border: 1px solid gray;
}

#assessment table {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#assessment td {
	padding: 6px;
	vertical-align: top;
}

#assessment th {
	font-weight: normal;
	vertical-align: top;
}

#assessment #footer {
	border: none;
}

#assessment #objectives {
  font-size: 16px;
  text-align: left;
  }
  
  #assessmentRubric {
margin-left: 20px;
}

#assessmentRubric h1 {
	background-color: #ffcc00;
	color: #000000;
	width: 650px;
  font-size: 110%;
}

#assessmentRubric #content {
	margin-left: 10px;
	width: 600px;
  font-size: 14px;
}

.assessmentRubric p {
	font-size: 90%; 
}

#assessmentRubric table, td {
	border: 1px solid gray;
		font-size: 85%; 
}

#assessmentRubric table {
	margin-left: auto;
	margin-right: auto;
}

#assessmentRubric td {
	padding: 6px;
	vertical-align: top;
}

#assessmentRubric th {
	font-weight: normal;
	vertical-align: top;
}
