.parameter.active {
    font-weight: bold;
    background-color: #cccccc;
}

.parameter:hover {
    color: #cccccc;
}

.placeholder {
    width: 758px;
    height: 380px;
    margin-bottom: 26px;
    margin-left: 26px;
}

.plottitle {
    width: 758px;
    height: 16px;
    padding-left: 48px;
}

.xlabel {
    position: absolute;
    /*left: 200px;*/
    left: 100px;
    /*bottom: -24px;*/
    bottom: -25px;
}

.ylabel {
    position: absolute;
    left: 0px;
    top: 200px;
    writing-mode: tb-rl;
    filter: flipV() flipH();
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#plot-container {
    margin-top: 20px;
}

.plot {
    border: 1px dashed #cccccc;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}
ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

.tab::before {
    content: none;
}

.data .tab {
    padding-top: 0;
}
