#nav { height: 48px; }

#menu { text-align: right; }

#nav table tr td ul li a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
	
#subnav #sub-home {
	margin-right: 265px;		
}

#subnav #sub-home li a {
	width: 7.5em;
	color: black;
	background-color:  #f67527;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800  1px solid;
}

#subnav #sub-home li a:hover {
	color: white;
}


#subnav #sub-data {
	margin-right: 190px;		
}

#subnav #sub-data li a {
	width: 7.5em;
	color: black;
	background-color:  #2e58dc;
	border-top: #72a1cc 1px solid;
	border-left: #72a1cc 1px solid;
	border-bottom: #305c85 1px solid;
	border-right: #305c85 1px solid;
}

#subnav #sub-data li a:hover {
	color: white;
}

#subnav #sub-library {
	text-align: center;
	margin-right: 3.5em;
}

#subnav #sub-library li a {
	color: black; 
	width: 7em;
	background-color: #33e890;
	border-top: #a7d2d8 1px solid;
	border-left: #a7d2d8 1px solid;
	border-bottom: #3c777f 1px solid;
	border-right: #3c777f 1px solid;
}

#subnav #sub-library li a:hover {
	color: white;
}

#subnav #sub-upload {
	margin-right: 365px;		
}

#subnav #sub-posters {
	text-align: center;
}

#subnav #sub-posters li a {
	width: 7.5em;
	color: black;
	background-color: #b4e734;
	border-top: #70a98c 1px solid;
	border-left: #70a98c 1px solid;
	border-bottom: #2d6348 1px solid;
	border-right: #2d6348 1px solid;
}

#subnav #sub-posters li a:hover {
	color: white;
}

#subnav #sub-siteindex li a {
	color: black;
	background-color: #d1453a;
	border-top: #ff6640 1px solid;
	border-left: #ff6640 1px solid;
	border-bottom: #b52400 1px solid;
	border-right: #b52400 1px solid;
}

#subnav #sub-siteindex li a:hover {
	color: white;
}

#nav a:hover#nav-home {
	color: white; 
	background-color: #f67527;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800  1px solid;
}

#nav a:hover#nav-library {
	background-color: #33e890;
	border-top: #a7d2d8 1px solid;
	border-left: #a7d2d8 1px solid;
	border-bottom: #3c777f 1px solid;
	border-right: #3c777f 1px solid;
}

#nav a:hover#nav-data {
	background-color: #2e58dc;
	border-top: #72a1cc 1px solid;
	border-left: #72a1cc 1px solid;
	border-bottom: #305c85 1px solid;
	border-right: #305c85 1px solid;
}

#nav a:hover#nav-posters {
	background-color: #b4e734;
	border-top: #70a98c 1px solid;
	border-left: #70a98c 1px solid;
	border-bottom: #2d6348 1px solid;
	border-right: #2d6348 1px solid;
}

#nav a:hover#nav-siteindex {
	background-color: #d1453a;
	border-top: #ff6640 1px solid;
	border-left: #ff6640 1px solid;
	border-bottom: #b52400 1px solid;
	border-right: #b52400 1px solid;
}

#nav a:hover#nav-assessment {
	background-color: #f4ba39;
	border-top: #ffd940 1px solid;
	border-left: #ffd940 1px solid;
	border-bottom: #b59100 1px solid;
	border-right: #b59100 1px solid;
}