h1 {
	background-color: black;
	color: white;
	
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background-image:-moz-linear-gradient(left top, left bottom, from(#000), to(#fff));
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorstr='#FFFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled='true', startColorstr='#00000000', endColorstr='#FFFFFFFF');
}

#nav {
	left: 0px;
}

#nav table {
	width: 800px;
	/* background-image: url("../graphics/spacer_button.jpg"); */
}

#nav ul li a {
	width: 8em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}

a#nav1 {
	background-color: black;
}

a#nav2 {	
	color: white; 
	background-color: #f67527;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800  1px solid;
}