#top {
	width: 100%;
	background-color: black;
	color: white;
	height: 72px;
}

#header-image {
	display: none;
}

#header-image-teacher {
	display: block;
	float: left;
	margin-top: 4px;
}

#nav {
	top: 80px;
	left: 0px;
}

#nav table {
	width: 800px;
	background-image: url("../graphics/spacer_button.jpg");
}

#nav td a {
	width: 130px;
	color: white;
	background-image: url("../graphics/teacher-button-bg.jpg");
	text-shadow: #000000 1px 2px 2px;
}

#nav a:hover {
	color: white;
	background-image: url("../graphics/teacher-button-bg-hover.jpg");
}

#content {
	margin-top: 48px;
}

#content h1 {
	background-color: black;
	color: white;
}

#content h2 {
	font-size: 120%;
}

#content p {
	margin-left: 20px;
}

#content ul {
	margin-left: 10px;
}

.float-right {
	float: right;
	margin: 8px;
}