<?xml version="1.0" ?>
<boinc>
  <config>

    <disable_account_creation>       0    </disable_account_creation>
    <profile_screening>              0    </profile_screening>


    <one_result_per_user_per_wu>     1    </one_result_per_user_per_wu>
    <show_result>                    1    </show_result>
    <min_sendwork_interval>          6    </min_sendwork_interval>
    <uldl_dir_fanout>               16    </uldl_dir_fanout>
    <output_level>                   3    </output_level>

    <daily_result_quota>            500   </daily_result_quota>
    <max_wus_to_send>                50   </max_wus_to_send>

    <long_name>    I2U2 Forums Prototype        </long_name>
    <host>         www18            </host>
    <db_name>  </db_name>
    <db_host>  </db_host>
    <db_user>  </db_user>
    <db_passwd>  </db_passwd>
    <shmem_key>    0x1111c9e0         </shmem_key>

    <master_url>      http://www18.i2u2.org/    </master_url>
    <upload_url>      http://www18.i2u2.org/cgi-bin/file_upload_handler    </upload_url>
    <download_url>    http://www18.i2u2.org/download    </download_url>
    <cgi_url>         http://www18.i2u2.org/cgi-bin/    </cgi_url>

    <app_dir>         /home/quarkcat/sw/www-php/boinc/apps    </app_dir>
    <key_dir>      /home/i2u2/boincboinc/keys/    </key_dir>

    <log_dir>    /home/quarkcat/sw/www-php/boinc/log_www18   </log_dir>

  </config>

  <daemons>

  </daemons>

  <tasks>
  </tasks>

</boinc>
