#top {
	width: 100%;
	background-color: black;
	color: white;
	height: 80px;
}

#header-image img {
	height: 68px;
}

#header-image-teacher {
	position: absolute;
	display: block;
	left: 0px;
	top: 8px;
}

#header-title {
	display: block;
	position: absolute;
	font-family: Arial, sans-serif;
	font-size: 200%;
	padding-top: 4px;
	left: 80px;
}

#nav {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 40px;
	left: 80px;
	width: 800px;
}

#nav ul {
	width: 100%;
	float: right;
	text-align: right;
	/*border: 1px dashed white;*/
	position: relative;
	right: 0px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}

#nav li {
	display: inline;
	text-align: center;
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav a {
	width: 130px;
	height: auto;
	color: white;
	border: 1px solid black;
	background-color: black;
	background-image: none;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
}


#nav a:hover {
	color: black;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #404040;
	border-right: 1px solid #404040;
	background-color: white;
}

#content h1 {
	background-color: black;
	color: white;
}

#content h2 {
	font-size: 120%;
}

#content p {
	margin-left: 20px;
}

#content ul {
	margin-left: 10px;
}

.float-right {
	float: right;
	margin: 8px;
}