#Sample Geometry file
#
#	All the .geo files should be in this format for parsing
#
#	[timestamp]{float}	#the time that the following 8 lines were valid for this detector (a partial julian day)
#	[latitude]{hh.mm.pppp}		#pppp is for the 4 digit partial (decimal) minute in degrees (hh < 0 means North of the equator)
#	[longitude]{hhh.mm.pppp}	#if hhh is negative, this indicates West of the Prime Meridian
#	[altitude]{float in meters}	#to 1 decimal accuracy
#	[stacked]{boolean}	#flagged true if the counters are stacked
#
#		- all locations are relative to the *SPECIFIED GSP FOR THIS SITE* **in meters** -
#chan1:	[EAST-WEST location]{float}	[NORTH-SOUTH location]{float}	[UP-DOWN location]{float}	[AREA]{float}
#chan2:	[EAST-WEST location]{float}	[NORTH-SOUTH location]{float}	[UP-DOWN location]{float}	[AREA]{float}
#chan3:	[EAST-WEST location]{float}	[NORTH-SOUTH location]{float}	[UP-DOWN location]{float}	[AREA]{float}
#chan4:	[EAST-WEST location]{float}	[NORTH-SOUTH location]{float}	[UP-DOWN location]{float}	[AREA]{float}
#
#	- these 9 rows of data makeup ONE block of info for each setup of this board (changes when board scintilator locations change) -
2452874.50005787
41.50.3498
-88.15.6715
240.9
1
5.3	0.0	-14.0 1.453
0.0	0.0	-14.0 1.455
4.9	7.8	-14.0 1.456
0.0	8.0	-14.0 1.458
2453165.16527778
41.50.2987
-88.15.6982
288.4
0
6.3	0.0	-14.0 1
0.0	0.0	-14.0 1.331
7.9	7.8	-14.0 1.334
0.0	8.0	-14.0 1.4
