/* General forum formating, moved to a separate file */

tr.subtitle td.category {
   text-align: center;
}

/* Forum signatures  */

.sigblock {
	max-height: 120px;
        overflow: hidden;
        border: 0px;

}

img.sigblock {
	max-height: 115px;
        overflow: hidden;
}

blockquote.postbody {
	border-style: inset;
        border-color: blue;
	background-color: rgb(240,240,255);
	padding-left: 1em;
	padding-bottom: 0.25em;
        padding-top: 0.25em;
	margin-left: 2em;
	margin-bottom: 0px;
	margin-right: 150px;
	font-style: oblique
}


#thread table {
	width: 100%;
	table-layout: fixed;
}

td.postheader {
        background-color: rgb(230,230,230);
        border-bottom: 1px solid rgb(190,190,200);
        height: 2em;    /* max-height doesn't work in table elements! */
        max-height: 2em;       /* try max-height just in case... */
}

td.postfooter {
        background-color: rgb(230,230,230);
        border-top: 1px solid rgb(190,190,200);
        height: 2em;       /* max-height doesn't work in table elements! */
        max-height: 2em;       /* try max-height just in case... */
        font-size: 75%;

}

tr.helpdeskseperator {
        height:15px;
}

tr.postseperator {
        background-color: rgb(210,240,210);
        height:1px;
}

tr.postseperator td {
        border-top: 1px     solid rgb(170,255,170);
        border-bottom: 1px  solid rgb(170,255,170);
}

td.postbody {   
       vertical-align: top;
}

tr.row0 {
        background-color: rgb(240,240,240);
}

tr.row1 {
        background-color: rgb(240,255,240);
}

tr.row2 { /* this is for the Question in the helpdesk Q&A */
        background-color: rgb(255,255,240);
}


.code {
   background-image: url(/img/lprpaper.jpg);
   padding-left: 45px;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   max-width: 132em;
   overflow: hidden;
   white-space: pre;
   font-family: courier;
   font-size: 80%;
   line-height: 70%; 
   margin-left: 3em;
   margin-bottom: 2pt;
   margin-top: 2pt;
} 


.postbody pre {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   max-width: 132em;
   overflow: hidden;
   white-space: pre;
   font-family: courier;
   line-height: 70%; 
} 



.authorcol {
	width: 115px;
        vertical-align: top;
   	font-size: 75%; 
}



/* File attachments: viewing link */

.view_link {
	font-size: 80%;
	text-align: center;
        font-family: courier;
	border: 0px;
}

table.view_link {
	border: 0px;
	max-width: 130px;
        table-layout: auto;
}

td.view_link{
	border: 0px;
}


/* Keyword classification system:  */

.keyword {
        text-align: center;
        vertical-align: bottom;
	background-color: rgb(230,230,230);
	font-style: oblique;
	font-size: 80% ;
}

td.keyword {
        width: 25em;
}


/*EOF*/
