DirectoryIndex login.html
ErrorDocument 404 /~ogre/php/goodbye.php
Options MultiViews -Indexes FollowSymLinks +ExecCGI
Allow from all

<Files ~ (\.inc)>
  order allow,deny
  Deny from all
</Files>

<Files ~ (\.root)>
  order allow,deny
  Deny from all
</Files>

PerlModule  Apache::ASP
<Files ~ (\.asp)>    
  SetHandler  perl-script
  PerlHandler Apache::ASP
  PerlSetVar  Global .
  PerlSetVar  StateDir /tmp/asp
  PerlSetVar UniquePackages 1
</Files>
