body {
    background-color: #cccccc;
}
div#background {

    position: fixed;

    background-image: url("../graphics/king-ogre.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /*border: #669999 2px solid;*/
    cursor: pointer;
    bottom: 1px;
    right: 2px;
    width:179px;
    height:213px;
    z-index: 15;
}

div#wrapper {
}

div#buttonWrapperTop, div#buttonWrapperBtm,div#alertDiv {
    display:none;
}

select#themesBtm {
    position:absolute;
    right:182px;
}

button,input,select {
    cursor:pointer;
}

div#header,div.header {
    position: fixed;
    width: 100%;
    height: 1.5em;
    top: 0em;
    left: 0em;
    border-bottom: 1px solid #f3f3f3;
    z-index:10;
    opacity:1;
    background: #a3a3a3;
    font-size: 1.25em;
    text-align: left;
    vertical-align: top;
    color: #8b0000;
}

div#footer {
    position: fixed;
    bottom: 0em;
    height: 2em;
    left: 0em;
    width: 100%;
    border-top: 1px solid #f3f3f3;
    z-index:10;
    opacity:1;
    background: #a3a3a3;
}

form#recut {
    position:absolute;
    padding: 25px;
}

div#controls {
    position: absolute;
    width: 90%;
    padding: 25px;
}

div#menu {
    position: absolute;
    bottom: 1px;
    left: 1px;
    display: none;
}

.button {
    position: relative;
    float: left;
    margin-right:5px;
    display: block;
}
.rbutton {
    position: relative;
    float: right;
    margin-right:5px;
    display: block;
}
.address {
    position: relative;
}

.hdrTxt {
    position:relative;
    float:right;
    bottom:24px;
}
.winTxt {
    position:relative;
    float:left;
    bottom:18px;
    color:#8c0000;
}

.bottomLine {
    position:relative;
    float:right;
    bottom:24px;
}

div#graph {
    position: absolute;
}

img#image {
    position: absolute;
    top: 0px;
    left: 10px;
}
div.text {
    position: absolute;
    width: 99%;
    height: 90%;
}

h2 {
    color: #00cc00;
    text-align: center;
    font-size: 1.25em;
    padding: 0px;
    margin: 0px;
}

div#alertdiv {
    position: absolute;
    top: 5.5em;
    left: 2em;
    z-index: 5;
    display: none;
    background: url("../graphics/white3.png") no-repeat;
    width: 656px;
    height: 360px;
    overflow: hidden;
}

div#alerttext {
    position:relative;
    width:48em;
    margin: 25% 25%;
    font-size: 3em;
    color: #00ff00;
}

div#hist {
    position: absolute;
    display: block;
}

form {
    position:fixed;
    top:0em;
    left:1%;
    z-index: 5;
}

h5, h6 {
    position: fixed;
    cursor: pointer;
    top: -1.5em;
    right: 1%;
    z-index: 5;
    color: #0000ff;
}

.clicker {
    cursor:pointer;
    color:blue;
}
