iframe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
  border: 0px;
}
iframe#datamenu {
    position: relative;
    top: 97px;
    left: 0px;
    width:100%;
    height:350px;
    overflow: auto;
}

iframe#varmenu {
    position: relative;
    top: 96px;
    left: 0px;
    width:65%; /*650px;*/
    overflow: auto;
    height:375px;
}

iframe#graphicsmenu {
    position: relative;
    top: 96px;
    left: 1%;
    width:90%;
    height:10em;
}

.clicker {
    cursor:pointer;
    color:blue;
}
