div#hist {
    position: absolute;
    display: block;
}

form {
    position:fixed;
    top:0em;
    left:1%;
    z-index: 5;
}

h5, h6 {
    position: fixed;
    cursor: pointer;
    top: -1.5em;
    right: 1%;
    z-index: 5;
    color: #0000ff;
}

.clicker {
    cursor:pointer;
    color:blue;
}
