div.overlay {
    padding:40px;	
    width:625px;  
    display:none;
    background-image:url('../graphics/white3.png');
}

div.overlay div.close {
    background:url('../graphics/close.png') no-repeat;
    position:absolute;
    top:2px;
    right:10px; 
    width:35px;
    height:35px;
    cursor:pointer;
}

div.overlay div.drag {
    background:url('../graphics/move.png') no-repeat;
    position:absolute;
    top:2px;
    left:10px; 
    width:20px;
    height:22px;
    cursor:move;
}

div.overlay a {
    height:300px;
    display:block;
}
/*
div.button {
    position:absolute;
    bottom: 10%;
    right: 2px;
}
*/