img#vbgImg {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 99%;
    z-index:-1;
}

div#vdataSet {
    position: absolute;
    top: 3em;
    left: 5%;
    width: 89%;
}

div#vTitle {
    position: relative;
    color: #ffffff;
    font-size: 0.75em;
    margin-left: 40px;
    width: 12em;
    cursor: move;
}

div#vDraggable {
    position: relative;
    top: 16px;
    margin-left: 3.5%;
    margin-right: 5%;
    width: 41.5em;/*92%;*/
    height: 20px;
    cursor: move;
}

div#moveVars {
    position: absolute;
    top: 8px;
    left: 24px;
    width: 95%;
}

button#makePlot {
    position:absolute;
    bottom:-2.2em;
    font-size:0.75em;
    cursor:pointer;
    width:10em;
    right:0em;
}
button#gotoData {
    position:absolute;
    bottom:-2.2em;
    font-size:0.75em;
    cursor:pointer;
    width:10em;
    left:0em;
}

.vDragContainer {
    float: left;
    margin: 1px;
    padding: 2px;
    border: none;
    width: 98%;
    height: 78%;
    text-align: center;
    vertical-align: bottom;
}

.DragContainer1 {   /* Variable home container */
    min-height: .5em;
    padding: 0px;
    margin: 0px;
}

.DragContainer2 {  /* Plot container */
    float:left;
    width:72%;
    padding:0px;
    border: #669999 1px solid;
}

.DragContainer8 {  /* selected options container */
    float:right;
    width:20%;
    padding: 0px;
    border: #669999 1px solid;
}

.DragContainer3 {  /* Color box container */
    width:21.5%;
    padding:1px;
    margin-left:1px;
}

.DragContainer4 {  /* Log & MyCuts container */
    width:14%;
    padding:1px;
    margin-left:3px;
}

.DragContainer5 {  /* Graphics type ... not used */
    width:10%;
    padding:1px;
    margin-left:3px;
    display:none;
}

.DragContainer6 {  /*Size options container */
    width:13%;
    padding:1px;
    margin-left:3px;
}

.DragContainer7 { /* Old MyCuts save data container ... not used */
    width:15%;
    padding:1px;
    margin-left:3px;
}

.DragContainer9 { /* Math operations container */
    width:31.5%;
    margin-left: 5px;
    padding: 1px;
}

.DragContainer3, .DragContainer4, .DragContainer6,
.DragContainer8, .DragContainer9 {
    /*border: #669999 1px solid;*/
}

.colorDragBox {
    float: left;
    border: #000 1px solid;
    padding: 1px;
    font-size: 10px;
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    width: 1.5em;
    height: 1.5em;
    cursor: url('../graphics/draggable.gif'), pointer;
    font-family: verdana, tahoma, arial;
}

.red {background-color:#ff0000;}
.green {background-color:#00ff00;}
.blue{background-color:#0000ff;}
.black{background-color:#000000;}
.white{background-color:#ffffff;}
.yellow{background-color:#ffff00;}
.purple{background-color:#ff00ff;}
.none{background-color:transparent;border:#000000 1px solid;}

.OvercolorDragBox {
    opacity: 0.25;
}

 /* item containers */
.vDragBox, .OvervDragBox, .vDragDragBox, .vminiDragBox {
    border: #000 1px solid;
    padding: 1px;
    font-size: 10px;
    width: 4em;
    cursor: url('../graphics/draggable.gif'), pointer;
    font-family: verdana, tahoma, arial;
    background-color: #eee;

    float: left;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
}

.vminiDragBox {
    float: left;
    margin-bottom:0.1em;
    margin-left:  0.1em;
    width: 3em;
    height: 1.67em;
}

.vminiOpsDragBox {
    float: left;
    padding: 1px;
    cursor: url('../graphics/draggable.gif'), pointer;
    font-size: 12px;
    font-family: verdana, tahoma, arial;

    border: none;
    min-width: 20px;
    height:11px;

    margin-left: 0px;
    margin-bottom: 0px;

}
.OvervminiOpsDragBox {
    background-color: #ffff99;
}
.OvervminiDragBox {
    background-color: #ffff99;
}

.vDragBox1, .OvervDragBox1, .vDragDragBox1 {
    border: #000 1px solid;
    padding: 0.005em;
    font-size: 10px;
    width: 9em;
    cursor: url('../graphics/draggable.gif'),pointer;
    font-family: verdana, tahoma, arial;
    color: #000000;

    float: left;
    margin-left: 0.25em;
    margin-bottom: 0.5em;
}

.OvervDragContainer {
    background-color: #fff;
}

.OvervDragBox, .OvervDragBox1 {
    background-color: #ffff99;
}

.vDragDragBox, .vDragDragBox1 {   /* Box being drug... */
    opacity: 0.50;              /* the correct CSS3 syntax */
    background-color: #ff99cc;
    cursor: url('../graphics/grab.gif'),pointer;
}

.fieldset {
    height: 8em;
    padding: 1px;
    border: 2px ridge #d755d5;
}

fieldset#variables {
    width: 99%;
    height: 100%;
}

.options {
    width: 36%;
    float: right;
}

.targets {
    width: 60%;
}

.variables {
    width: 96%;
}

fieldset#history {
    display: none;
}

div#History2 {
    display: none;
    font-size: .5em;
    overflow: auto;
    width: 100%;
    font-family: verdana, tahoma, arial;
    height: 128px;
}

legend {
    font-weight: bold;
    font-size: 10px;
    color: #666699;
    font-family: verdana, tahoma, arial;
}
