body { 
    padding: 20px;
    background-color: #FFF; 
    text-align: center;
    font: 76% Verdana,Arial,sans-serif
}
h1,h2,p{margin: 0;padding: 0 10px 0.4em}
h1{font-size: 210%;color: #4382BB;}
h2{font-size: 200%;color: #FFF}

div#container {
    width:710px;
    padding-top: 20px; 
    margin: 0 auto;
    text-align:left}

#jobs { 
    float: left;
    width: 500px;
    background: #FFF;
}

#instructions {
    float: right;
    width: 200px;
    background: #FF8103;
    color: #FFF;
}

div#instructions h2{font-size: 170%;color: #FFF}

div#dayjobs {background: #9BC4DD;} 
div#weekjobs {background: #BAD4E8;} 
div#monthjobs {background: #D6E3ED;} 
div#olderjobs {background: #E4EAEF;} 

.job_category {
    padding: 0 10px 0.4em 0.4em;
    padding-top:10px;
    text-align:left;
    font-size:110%;
    font-weight:bold;
}

.job_stats {
    font-size:x-small;
    color:#000;
    padding-left:25px;
    padding-bottom:5px;
    padding-right:10px;
}

.job_listing {
    padding-left:25px;
    padding-top:8px;    
    padding-bottom:8px;    
    border-top:1px solid #1C0D0F;
    border-bottom:1px solid #1C0D0F;
}

.job_listing td {
    font-size:x-small;
    color:#000;
}
