<style type="text/css">
.sub {color: #000000;font-family: sans-serif;font-size: small}
.sub:link {text-decoration: none}
.sub:visited {text-decoration: none}
.sub:hover {text-decoration: underline;font-weight: bold}
.log {font-size: medium;font-family: sans-serif; color: #6699FF}
.log:visited {color: #99CCFF}
.log:hover {text-decoration: underline; color: #00FFFF}
.table {color: #0000FF}
.table:link {text-decoration: underline}
.table:visited {text-decoration: underline; color:blue}
.table:hover {text-decoration: underline}
.orderby {background-color: lightyellow}

    A:link { color: rgb(0, 0, 232); TEXT-DECORATION: underline }
    A:visited { color: rgb(26, 139, 200); TEXT-DECORATION: underline }
    A:active { color: rgb(6, 96, 96) }
    A:hover { color: rgb(170, 51, 102); TEXT-DECORATION: underline }

#help {
    position: absolute;
    top: 170px;
    right: 2%;
    width:25%;
    font-family:arial, verdana, sans-serif;
    color:#000;
    font-size:small;
    font-weight:normal;
    background: transparent;
    border-left:2px solid #1C0D0F;
    border-top:2px solid #1C0D0F;
    text-align:left;
    padding-left:1%;
    padding-top:10px;
    padding-bottom:10px;
}

.help_text {
    color:#000;
    font-size:small;
}

.status_message {
    font-size:x-small;
    font-weight:normal;
    text-align:center;
}
    
#search {
    position: absolute;
    left: 2%;
    width:71%;
    top:170px;
    font-family:arial, verdana, sans-serif;
    color:#000;
    font-size:small;
    font-weight:normal;
    background: transparent;
    border-right:2px solid #1C0D0F;
    border-top:2px solid #1C0D0F;
    text-align:left;
    padding-left:2%;
    padding-right:1%;
    padding-top:20px;
}

.search_quick_links {
    font-size:small;
    font-weight:normal;
    text-align:center;
}

.search_result_bar {
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    padding-right:2px;
    border-top:1.5px solid #4382BB;
    border-right:1.5px solid #4382BB;
    width:100%;
    background:#99C4EF;
    text-align:right;
}

.search_top_result {
    padding-top:20px;
    text-align:left;
    font-size:normal;
    font-weight:bold;
}

.search_sub_results {
    font-size:small;
    color:#000;
    padding-left:18px;
}

.search_files_results {
    font-size:x-small;
    color:#000;
    padding-left:18px;
}

.search_files_results_choose {
    padding-left:18px;
    padding-top:8px;    
    padding-bottom:8px;    
    border-top:1px solid #1C0D0F;
    border-bottom:1px solid #1C0D0F;
}

.search_month_group {
    font-size:small;
    color:#000;
    padding-left:7px;
    padding-bottom:3px;
}

.search_month_group_files {
    font-size:x-small;
    color:#000;
    padding-left:25px;
    padding-bottom:5px;
    padding-top:5px;
}

#adv_search {
    font-family:arial, verdana, sans-serif;
    color:#000;
    width:350px;
    font-size:x-small;
    font-weight:normal;
    background: transparent;
    border-right:1px dotted #1C0D0F;
    border-top:1px dotted #1C0D0F;
    border-left:1px dotted #1C0D0F;
    border-bottom:1px dotted #1C0D0F;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-top:5px;
}
</style>
