# This is the MySQL database server configuration file, my.cnf
# You'll find it as /etc/my.cnf or maybe /usr/local/mysql/etc/my.cnf
#
# This configuration is for a large system with memory >= 512M 
# where the system runs mainly MySQL.
#
# Program options are collected together into option groups, which can
# apply to particular programs or in general to clients or servers.
#
#    mysqld reads options from the [mysqld] and [server] groups.  mysqld_safe
#    reads options from the [mysqld], [server], [mysqld_safe], and
#    [safe_mysqld] groups.  mysql.server reads options from the [mysqld] and
#    [mysql.server] groups.
#
#    An embedded MySQL server usually reads options from the [server],
#    [embedded], and [xxxxx_SERVER] groups, where xxxxx is the name of the
#    application into which the server is embedded.
#
# Eric Myers <myers@spy-hill.net> - 1 July 2008 
# @(#) $Id: my.cnf,v 1.2 2008/11/06 20:53:04 myers Exp $
#########################################################################
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html


# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0


# The MySQL server(s)
[mysqld]
user		= postgres
port		= 3306
basedir		= /usr/local/mysql
#datadir		= /data/mysql	# for data1.i2u2.org
datadir		= /data/mysql		# for www10.i2u2.org etc
socket		= /var/run/mysqld/mysqld.sock
pid-file	= /var/run/mysqld/mysqld.pid

#language	= /usr/local/share/mysql/english

tmpdir		= /tmp
#skip-external-locking


# The 5.1 manual suggests that 150 is a good number to support Apache.
max_connections=200

# Allows wikis to search for TLA's
ft_min_word_len=3

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8


# * Fine Tuning
#
key_buffer = 256M
max_allowed_packet = 1M
#thread_stack		= 128K
skip-locking
table_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size= 16M


# * Query Cache Configuration
#
query_cache_limit	= 1048576
query_cache_size        = 16777216
query_cache_type        = 1


# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
#log		= /var/log/mysql.log
log		= /var/log/mysql/mysql.log


# If you do not specify err-log then error messages go to a file
# in $datadir called `hostname`.err, which is actually more useful.
##err-log=/var/log/mysql/mysqld.log


# Here you can see queries with especially long duration
#log-slow-queries	= /var/log/mysql/mysql-slow.log


# The following can be used as easy to replay backup logs or for replication.

#log-bin			= /var/log/mysql/mysql-bin.log

max_binlog_size         = 104857600
binlog-do-db		= include_database_name
binlog-ignore-db	= include_database_name


# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1

# Point the following paths to different dedicated disks
#tmpdir		= /tmp/		
#log-update 	= /path-to-dedicated-directory/hostname



# * InnoDB
#
# Uncomment the following if you are using InnoDB tables
innodb_data_file_path = ibdata1:10M:autoextend
innodb_data_home_dir = /data/mysql
innodb_log_group_home_dir = /data/mysql
innodb_log_arch_dir = /data/mysql
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 256M
innodb_additional_mem_pool_size = 20M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
#

# Each InnoDB table in a separate file (when table is created)
innodb_file_per_table


# * BerkeleyDB
#
# Uncomment the following if you are using BDB tables
#bdb_cache_size = 64M
#bdb_max_lock = 100000

# According to a MySQL employee the use of BerkeleyDB is now discouraged
# and support for it will probably cease in the next versions.
skip-bdb




# * Networking

# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address		= 127.0.0.1

# TODO: turn on network access to just our LAN. -EAM


# * SSL 
#
# If you want to enable SSL support (recommended) read the manual or the
# HOWTO in /usr/share/doc/mysql-server/SSL-MINI-HOWTO.txt.gz
#
#ssl-ca=/usr/local/mysql/certs/cacert.pem
#ssl-cert=/usr/local/mysql/certs/server-cert.pem
#ssl-key=/usr/local/mysql/certs/server-key.pem


# The following options will be passed to all MySQL clients (not server)
[client]
#password	= your_password
port		= 3306
socket		= /var/run/mysqld/mysqld.sock


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition
# Remove the next comment character if you are not familiar with SQL
#safe-updates


[isamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M


[mysqlhotcopy]
interactive-timeout

##EOF##
