<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- common/resources/web.xml -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<display-name>elab</display-name>
	<description>
		I2U2 ELab Application
	</description>
  
	<!-- dwr is used by the upload progress -->
	<!-- being some kind of ajax life-simplifier, it could be used for other ajaxy things -->
	<servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </servlet>
	<servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
		<servlet>
        <servlet-name>downloader</servlet-name>
        <servlet-class>gov.fnal.elab.Downloader</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>downloader</servlet-name>
    	<url-pattern>/cosmic/data/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>downloader</servlet-name>
    	<url-pattern>/cosmic/data/equip/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>downloader</servlet-name>
    	<url-pattern>/cms/data/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>downloader</servlet-name>
    	<url-pattern>/ligo/data/download</url-pattern>
    </servlet-mapping>  
    <listener>
    	<description>sessionListener</description>
    	<listener-class>
        	gov.fnal.elab.SessionListener
    	</listener-class>
		</listener>

		<error-page> 
			<location>/embedded/errordefault.jsp</location> 
		</error-page>
</web-app>
