/* Navbar */ 
#nav #subnav ul#sub-home { display:none; }
#nav #subnav ul#sub-data { display:none }
#nav #subnav ul#sub-library { display:none; }
#nav #subnav ul#sub-posters { display:none; } 
#nav #subnav ul#sub-siteindex { display:none; } 
#nav #subnav ul#sub-upload { display:none; }

a#nav-assessment {
	background-color: #ffcc00;
	border-top: #ffd940 1px solid;
	border-left: #ffd940 1px solid;
	border-bottom: #b59100 1px solid;
	border-right: #b59100 1px solid;
}

/* Content */ 

#assessment #content h1 {
	background-color: #ffcc00;
	color: #000000;
	width: 100%;
}

#assessment #content {
	margin: 0px auto;
	width: 790px;
}

#assessment #content table td {
	border: 1px solid gray;
}

#assessment #content table {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#assessment #content td {
	padding: 6px;
  vertical-align: top;
}

#assessment #content th {
	font-weight: normal;
  vertical-align: top;
}

#assessment #footer {
	border: none;
}

#assessment #objectives {
  font-size: 14px;
  text-align: left;
}
  
  
#assessmentRubric {
	margin-left: 20px;
}

#assessmentRubric h1 {
	background-color: #ffcc00;
	color: #000000;
	width: 650px;
  font-size: 110%;
}

#assessmentRubric #content {
	margin-left: 10px;
	width: 700px;
  font-size: 14px;
}

.assessmentRubric p {
	font-size: 100%; 
}

#assessmentRubric table td {
	border: 1px solid gray;
		font-size: 90%; 
}

#assessmentRubric table {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

#assessmentRubric td {
	padding: 6px;
	vertical-align: top;
}

#assessmentRubric th {
	font-weight: normal;
	vertical-align: top;
}
