#nav #subnav ul#sub-library { display:none; }
#nav #subnav ul#sub-posters { display:none; } 
#nav #subnav ul#sub-siteindex { display:none; } 
#nav #subnav ul#sub-upload { display:none; }

#nav a#nav-data {
	background-color: #4382bb;
	border-top: #72a1cc 1px solid;
	border-left: #72a1cc 1px solid;
	border-bottom: #305c85 1px solid;
	border-right: #305c85 1px solid;
}

#nav #subnav ul {
	float: right;
	clear: both;
	text-align: right;
	position: relative;
	right: 0px;
	padding-right: 0px;
}

.data #footer {
	border: none;
}

.data #content {
	text-align: left;
}

h1 {
	background-color: #63a2db;
	color: #000000;
}

.data #center {
	text-align: center;
}

.data #center h1 {
	font-weight: normal;
	font-size: 140%;
	width: 100%;
	padding-bottom: 6px;
	border-bottom: solid 2px orange;
	margin-left: 0px;
}

.data #center h2 {
	font-weight: bold;
	font-size: 120%;
	margin-left: 0px;
}

.data #center p {
	font-weight: normal;
	margin-left: 10px;
}

.data #center ul {
	padding-left: 10px;
	padding-top: 6px;
}

.data #center ul ul ul li {
	font-weight: normal;
}

.data #center li {
	list-style-type: none;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}

a.button {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.data dt {
	font-weight: bold;
}

.data dd {
	padding-bottom: 6px;
}

#top {
	width: 100%;
	background-color: black;
	color: white;
	height: 96px;
}

#header-image img {
	height: 96px;
}

.data #nav ul li a {
	background-color: black;
	color: white;
	border: solid 1px black;
}



/************* Tab **************/


.data .tab {
	padding-top: 10px;
	width: 100%;
}

.data .tab .tab-title {
	background-color: #4382bb;
	border-left: 1px solid #358974;
	border-right: 1px solid #358974;
	border-top: 1px solid #358974;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
}

.data .tab .tab-contents {
	background-color: #99ccff;
	margin: 0px;
	border: 1px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.data #content .tab-contents h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}

.data #content .tab-contents li {
	font-weight: normal;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.data #content .tab-contents li:before {
	display: marker;
	content: url("../graphics/ref_dot.gif");
	marker-offset: auto;
	padding-right: 3px;
}

.data #content #rationale {
	width: 790px;
	font-size: 12px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	}


p.search-result-bar {
	margin-top: 0px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    padding-right:2px;
    border-top:1.5px solid #4382BB;
    border-right:1.5px solid #4382BB;
    width:97%;
    background:#99C4EF;
    text-align:right;
}

.search-results {
	text-align: left;
}

.school-h, .school-v {
	padding-top: 16px;
}

.search-results .school-info p {
	margin: 0px;
}

.search-results .school-info {
	margin-left: 20px;
	border-left: thin solid gray;
	padding-left: 4px;
}

/*
 * This isn't quite obvious: it refers to the school info 
 * header in the hidden part of the switch (the class of which
 * (school-h) is defined by the results displayer).
 */
.search-results .school-h .school-info {
	padding-bottom: 4px;
}

.search-results .school-name {
	font-weight: bold;
	margin-left: 4px;
}

.search-results .date-header {
	margin-left: 20px;
	padding-left: 12px;
	border-left: thin solid gray;
}

.search-results .date-info {
	margin-left: 0px;
}

.search-results .data-files {
	margin-top: 8px;
	padding-bottom: 16px;
	padding-left: 20px;
}

.search-results .data-files table td {
	padding: 4px;
	width: 140px;
	text-align: left;
}

.search-results .data-files tr.odd {
	background-color: #ffffff;
}

.search-results .data-files tr.even {
	background-color: #d4e0ff;
}

.search-results .data-file {
	padding-right: 16px;
}

.search-results .data-file img {
	border: none;
}

.search-results a.file-link{
	padding-right: 6px;
}

.search-results .clearall {
	padding: 6px;
}

.study-right {
	margin-left: 10px;
}

.study-right h2 {
	font-size: 110%;
}

#legend {
	margin-left: 10px;
	display: compact;
}

#legend .dt {
	display: compact;
	float: left;
	clear: left;
	text-align: right;
	width: 30px;
}

#legend .dd {
	margin-left: 10px;
	float: left;
}

.form-controls {
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted black;
	padding: 8px;
}

#analysis-controls {
	text-align: left;
	border-style: groove;
	background-color: #f6f6ff;
	border-color: #ffffff;
	border-width: 2px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
}

#analysis-controls table {
	text-align: center;
	width: 100%;
}

#analyzing-list table {
	margin-left: auto;
	margin-right: auto;
}

.hex-data-address {
	color: #999999;
	text-align: right;
	font-family: Courier, monospaced;
}
.hex-data-data {
	font-family: Courier, monospaced;
}

.hex-data-data-highlight {
	color: #00CC00;
	font-family: Courier, monospaced;
}

#view-plot-simple #content {
	text-align: center;
}

.analysis-output #content {
	text-align: center;
}

#analysis-table {
	border: thin solid black;
	width: 800px;
	margin-bottom: 16px;
}

#analysis-table th {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #c0c0c0;
}

#analysis-table td {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #e0e0e0;
}

.tutorial #content {
	padding-top: 24px;
}

/*********** Progress ************/

#status-progress {
	border: solid black thin;
}

#status-progress-indicator {
	background-color: #5d89d9;
}

#analysis-table .list-progress {
	border: solid black thin;
	width: 32px;
}

#analysis-table .list-progress-indicator {
	background-color: #5d89d9;
}

/*********** Directory listing ************/
#analysis-files table {
	width: 400px;
	margin-left: 32px;
}

#ltbr {
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
}

/************** Plot listing **************/
.plot-thumbnail {
	vertical-align: bottom;
	text-align: center;
	padding-bottom: 12px;
}

.plot-thumbnail-image {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
