.geo #center {
    width:750px;
    padding-top: 10px; 
    margin: 0 auto;
    background-color: #FFF; 
    font-family: Verdana, Arial, sans-serif;
    text-align:left;
}

.geo #entry1 {
	width: 500px;
	background: #CCCCCC;
	color: #000;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.geo #editor {
    float: right;
    width: 500px;
    background: #CCCCCC;
    color: #000;
    text-align:left;
    padding: 8px;
}

.geo #viewer {
	margin-left: auto;
	margin-right: auto;
    width: 500px;
    background: #CCCCCC;
    color: #000;
    text-align:left;
    padding: 8px;
}

.geo #existing {
    float: left;
    background: #CC99CC;
    color: #000;
    text-align: left;
    min-height: 100px;
}

.geo .title {
    font-size: 10pt;
    padding-bottom: 15px;
    color: #000;
}

.geo form {
	font-size: 70%;
}

.geo #orientation td {
	vertical-align: bottom;
}

.geo #orientation-label {
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 140%;
}

.geo #commited {
    text-align: center;
    padding-top: 8px;
}

.geo .subtitle {
    font-size: 9pt;
    color: #333;
    padding-bottom: 1px;
    padding-top: 16px;
}

.geo .detector {
    font-size: 100%;
    color: #333333;
}

.geo #orientation td {
    color: #333;
    text-align:center;
    padding-bottom:15px;
}

.geo #gps td {
    color: #333;
    text-align:left;
    padding-bottom:15px;
    font-size: 120%;
}

.geo #channels {
	padding-top: 12px;
}

.geo #channels .channel-id {
	font-size: 140%;
}

.geo #channels #secondary-heading td {
	vertical-align: bottom;
}

.geo #channels .unit {
	font-size: 90%;
}

.geo #channels td {
    color: #000000;
    text-align:right;
    font-size: 120%;
    vertical-align: middle;
}

.geo #channels th {
    color: #000000;
    text-align:right;
    font-size: 140%;
    font-weight: normal;
}

.geo #channels table {
    padding-bottom: 15px;
}

.geo .padded {
    padding: 8px 5px 2px 10px;
}

.geo .indentedBig {
    padding-left: 12px;
}

.geo .indented-small {
    padding-left: 8px;
    padding-bottom: 8px;
}

.geo input.invalid, .geo .invalid {
	color: red;
}

.geo .value {
  font-weight: bold;
}

.geo input {
	color: black;
}

.geo option {
	color: black;
}
.geo ul li {
	font-weight: normal;
}

.geo #error-list li {
	font-weight: normal;
	padding: 0px;
	list-style-type: none;
} 