.graph-container {
	box-sizing: border-box;
	width: 750px;
	height: 600px;
	padding: 10px 5px 5px 5px;
	margin: 5px auto 15px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-container-timeofflight {
	box-sizing: border-box;
	width: 800px;
	height: 820px;
	padding: 10px 5px 5px 5px;
	margin: 5px auto 15px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-container-deltaT {
	box-sizing: border-box;
	width: 450px;
	height: 500px;
	padding: 20px 5px 5px 20px;
	margin: 5px auto 15px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend-placeholder {
	float: left; 
	width: 650px;
	padding: 10px;
}

#placeholder .button {
	position: absolute;
	cursor: pointer;
}

#placeholder div.button {
	font-size: normal;
	color: #999;
	background-color: #eee;
	padding: 2px;
}

#zoomoutbutton .button {
	cursor: pointer;
}

#zoomoutbutton div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
	text-align: center;
	border: 2px solid #ffffff;
}
#resetbutton .button {
	cursor: pointer;
}

#resetbutton div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
	text-align: center;
	border: 2px solid #ffffff;
}

#arrows .button {
	cursor: pointer;
}
#arrowcontainer .button {
	position: absolute;
	cursor: pointer;
}
.message {
	padding-left: 10px;
	font-size: normal;
}
.click {
	padding-left: 10px;
	font-size: normal;
}
.clickdata {
	padding-left: 10px;
	font-size: normal;
}
.hoverdata {
	padding-left: 10px;
	font-size: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slider {
  margin: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 10px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 9px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 9px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 9px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

.row {
	float: left;
	width: 100%;
	overflow: auto;
	
}
.left {
	float: left;
	border: 1px solid black;
	padding: 5px;
	width: 33%;
	height: 100%;
}

.tofDetails {
	border: 1px solid RoyalBlue;
	display: inline-block; 
	width: 150px; 
	padding: 5px 5px 5px 5px;
}
.tofDetails:hover {
	background-color: #63a2db;
}
.tofDetails:hover .tofControls {
    display: block;
}

.tofControls {
    display: none;
    background: #FFFFE5;
    margin-left: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    width:350px;
    height:250px;
    overflow: auto;
    border-radius: 5px 5px 5px;
	border: 1px solid black;
}


.deltaTDetails {
	border: 1px solid RoyalBlue;
	display: inline-block; 
	width: 150px; 
	padding: 5px 5px 5px 5px;
}
.deltaTDetails:hover {
	background-color: #63a2db;
}
.deltaTDetails:hover .deltaTControls {
    display: block;
}

.deltaTControls {
    display: none;
    background: #FFFFE5;
    margin-left: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    width:350px;
    height:250px;
    overflow: auto;
    border-radius: 5px 5px 5px;
	border: 1px solid black;
}

