h1 {
	background-color: black;
	color: white;
}

#nav ul li a {
	width: 8em;
}

a#nav1 {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
	background-color: black;
}

a#nav2 {	
	color: white; 
	background-color: #f67527;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800  1px solid;
}