h1 {
	background-color: black;
	color: white;
}

#nav li a {
	width: 140px;
	color: white;
	border: 2px solid black;
	background-color: black;
}

#nav li a:hover {
	color: black;
	border-top: 2px solid #808080;
	border-left: 2px solid #808080;
	border-bottom: 2px solid #404040;
	border-right: 2px solid #404040;
	background-color: white;
}
