#nav li a {
	width: 140px;
}

#nav a:hover {
	color: white;
}

#nav li:first-child a {
	left: 200px;
	color: white;
	border: 1px solid black;
	background-color: black;
}

#nav li:first-child a:hover {
	color: black;
	background-color: #ffffff;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #404040;
	border-right: 1px solid #404040;
}

#nav li:first-child + li a {
	left: 360px;
	color: white;
	border: 1px solid black;
	background-color: black;
}

#nav li:first-child + li a:hover {
	color: black;
	background-color: #ffffff;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #404040;
	border-right: 1px solid #404040;
}