#sitehelp-home
{
z-index: 5;
background-color: #ff6600;
width: 118px;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-home a {
	color: #000000;
	text-decoration: none;
    width: 120px;
}

#sitehelp-library
{
z-index: 5;
background-color: #55a9b4;
width: 118px;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-library a {
	color: #000000;
	text-decoration: none;
    width: 120px;
}

#sitehelp-upload
{
z-index: 5;
background-color: #ad499d;
width: 118px;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-upload a {
	color: #000000;
	text-decoration: none;
    width: 120px;
}



#sitehelp-data
{
z-index: 5;
background-color: #63a2db;
width: 118px;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-data a {
	color: #000000;
	text-decoration: none;
    width: 120px;

}

#sitehelp-posters
{
z-index: 5;
background-color: #408c66;
width: 118px;
border: 1px solid #444444;
margin: auto;
text-align: center;
}
#sitehelp-posters a {
	color: #000000;
	text-decoration: none;
    width: 120px;

}

#placeholder
{
z-index: 5;
background-color: #ffffff;
width: 120px;
height: 2em;
margin: auto;
text-align: center;
}
#placeholder a {
	color: #000000;
	text-decoration: none;

}

#sitemap a:link {
color: #000000;
    width: 120px;
}
#sitemap a:visited {
color: #FFFFFF;
    width: 120px;
}
#sitemap a:hover {
color: #CCCCCC;
background-color: #333333;
text-decoration: none;
    width: 120px;
}
#sitemap a:active {
color: #333333;
    width: 120px;
}

