/* Navbar */ 
#nav #subnav ul#sub-home { display:none; }
#nav #subnav ul#sub-data { display:none; }
#nav #subnav ul#sub-library { display:none; }
#nav #subnav ul#sub-posters { display:none; } 
#nav #subnav ul#sub-posters { display:none; } 
#nav #subnav ul#sub-upload { display:none; } 

#nav a#nav-siteindex {
	color: black;
	background-color: #ff3000;
	border-top: #ff6640 1px solid;
	border-left: #ff6640 1px solid;
	border-bottom: #b52400 1px solid;
	border-right: #b52400 1px solid;
}

#nav #subnav ul {
	float: right;
	clear: both;
	text-align: right;
	position: relative;
	right: 0px;
	padding-right: 0px;
}

h1 {
	background-color: #FF3000;
	color: #000000;
}

.siteindex  h1 {
	font-weight: normal;
	font-size: 140%;
	width: 100%;
	padding-bottom: 6px;
	border-bottom: solid 2px orange;
	margin-left: 0px;
}

.siteindex h2 {
	font-weight: bold;
	font-size: 120%;
	margin-left: 0px;
}

.siteindex  p {
	font-weight: normal;
	margin-left: 10px;
}

.siteindex  #content ul {
	padding-left: 10px;
}

.siteindex  ul ul ul li {
	font-weight: normal;
}

.siteindex  #content li {
	list-style-type: none;
}

.siteindex #center  h1 {
	font-weight: normal;
	font-size: 140%;
	width: 100%;
	padding-bottom: 6px;
	border-bottom: solid 2px orange;
	margin-left: 0px;
}

.siteindex #center h2 {
	font-weight: bold;
	font-size: 120%;
	margin-left: 0px;
}

.siteindex #center  p {
	font-weight: normal;
	margin-left: 10px;
}

.siteindex #center  ul {
	padding-left: 10px;
	padding-top: 6px;
}

.siteindex #center  ul ul ul li {
	font-weight: normal;
}

.siteindex #center  li {
	list-style-type: none;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}



a.button {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.siteindex dt {
	font-weight: bold;
}

.siteindex dd {
	padding-bottom: 6px;
}



#top {
	width: 100%;
	background-color: black;
	color: white;
	height: 96px;
}

#header-image img {
	height: 96px;
}

.siteindex #nav ul li a {
	background-color: black;
	color: white;
	border: solid 1px black;
}



/************* Very small text for list **************/

ul.simpleTiny {
	list-style-type: none;
	padding-left: 0px;
}

ul.simpleTiny li {
	margin-bottom: 12px;
}

ul.simpleTine li:before {
	display: none;
	content: none;
}


/************* Tab **************/


.siteindex .tab {
	padding-top: 10px;
	width: 100%;
}


.siteindex #content .tab li {
	list-style-type: disc;
	list-style-position: inside;
	font-weight: normal;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.siteindex .tab .tabtitleHome {
	background-color: #ff6600;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}

.siteindex .tab .tabtitleHome a {

	text-decoration: none;
	color: #000;
}


.siteindex .tab .tabtitleUpload {
	background-color: #ab449b;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}

.siteindex .tab .tabtitleUpload a {

	text-decoration: none;
	color: #000;
}

.siteindex .tab .tabtitlePoster {
	background-color: #408c66;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}


.siteindex .tab .tabtitlePoster a {

	text-decoration: none;
	color: #000;
}


.siteindex .tab .tabtitleLibrary {
	background-color: #55a9b4;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}


.siteindex .tab .tabtitleLibrary a {

	text-decoration: none;
	color: #000;
}


.siteindex .tab .tabtitleData {
	background-color: #4382bb;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}


.siteindex .tab .tabtitleData a {

	text-decoration: none;
	color: #000;
}

.siteindex .tab .tabtitleAssess {
	background-color: #ffcc00;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
	font-size: 120%;
}


.siteindex .tab .tabtitleAssess a {

	text-decoration: none;
	color: #000;
}


.siteindex .tab .tabcontentsHome {
	background-color: #FFB27F ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 100%;
}

.siteindex #content .tabcontentsHome h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}


.siteindex .tab .tabcontentsUpload {
	background-color: #C782BC ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.siteindex #content .tabcontentsUpload h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}

.siteindex .tab .tabcontentsPoster {
	background-color: #7FB299 ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.siteindex #content .tabcontentsPoster h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}


.siteindex .tab .tabcontentsLibrary {
	background-color: #99cccc ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.siteindex #content .tabcontentsLibrary h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}


.siteindex .tab .tabcontentsData {
	background-color: #99CCff ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.siteindex #content .tabcontentsData h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}


.siteindex .tab .tabcontentsAssess {
	background-color: #FFE57F ;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.siteindex #content .tabcontentsAssess h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}


.siteindex th {
	text-align: left;
}


th.upload {
	background-color: #ad499d;
	border-top: #c276b6 1px solid;
	border-left: #c276b6 1px solid;
	border-bottom: #7b346f 1px solid;
	border-right: #7b346f 1px solid;
}

th.upload a {
	text-decoration: none; 
	color: white;
}

th.upload a:hover {
	color: black;
}

td.upload {
	background-color: #c782bc;
}

th.data {
	background-color: #4382bb;
	border-top: #72a1cc 1px solid;
	border-left: #72a1cc 1px solid;
	border-bottom: #305c85 1px solid;
	border-right: #305c85 1px solid;
}

th.data a {
	text-decoration: none; 
	color: white;
}

td.data {
	background-color: #99ccff;
}

th.data a:hover {
	color: black;
}

th.home {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
}

th.home a {
	text-decoration: none; 
	color: white;
}

th.home a:hover {
	color: black;
}

td.home { 
	background-color: #ffb27e;
}

th.library {
	background-color: #55a9b4;
	border-top: #a7d2d8 1px solid;
	border-left: #a7d2d8 1px solid;
	border-bottom: #3c777f 1px solid;
	border-right: #3c777f 1px solid;
}

th.library a {
	text-decoration: none; 
	color: white;
}

th.library a:hover {
	color: black;
}

td.library {
	background-color: #ccffff;
}

th.posters {
	background-color: #408c66;
	border-top: #70a98c 1px solid;
	border-left: #70a98c 1px solid;
	border-bottom: #2d6348 1px solid;
	border-right: #2d6348 1px solid;
}

th.posters a {
	text-decoration: none; 
	color: white;
}

th.posters a:hover {
	color: black;
}

td.posters {
	background-color: #7fb299;
}

th.assessments {
	background-color: #ffcc00;
	border-top: #ffd940 1px solid;
	border-left: #ffd940 1px solid;
	border-bottom: #b59100 1px solid;
	border-right: #b59100 1px solid;
}

th.assessments a {
	text-decoration: none; 
	color: white;
}

th.assessments a:hover {
	color: black;
}

td.assessments {
	background-color: #ffe57f;
}