#sitehelp-home
{
/* z-index: 5; */
background-color: #ff6600;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-home a {
	color: #000000;
	text-decoration: none;
    width: 118px;
}

#sitehelp-library
{
background-color: #55a9b4;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-library a {
	color: #000000;
	text-decoration: none;
    width: 120px;
}

#sitehelp-upload
{
background-color: #ad499d;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-upload a {
	color: #000000;
	text-decoration: none;
    width: 120px;
}



#sitehelp-data
{
background-color: #63a2db;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-data a {
	color: #000000;
	text-decoration: none;
    width: 120px;

}

#sitehelp-posters
{
background-color: #408c66;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-posters a {
	color: #000000;
	text-decoration: none;
    width: 120px;

}


#sitehelp-assessment
{
background-color: #ffcc00;
width: 127px;
border: 1px solid #444444;
text-align: center;
}
#sitehelp-assessment a {
	color: #000000;
	text-decoration: none;

}


#sitemap a:link {
color: #000000;
    width: 116px;
}
#sitemap a:visited {
color: #FFFFFF;
    width: 116px;
}
#sitemap a:hover {
color: #CCCCCC;
background-color: #333333;
text-decoration: none;
    width: 116px;
}
#sitemap a:active {
color: #333333;
    width: 116px;
}

