#container {
	width: 100%;
	font-family: Arial, sans-serif;
	text-align: center;
}

#content {
	text-align: left;
	padding-top: 8px;
}

/*=========== Header ===========*/

#top {
	position: relative;
	width: 100%;
	background-color: black;
	color: white;
	height: 96px;
	text-align: center;
}

#header {
	position: relative;
	width: 790px;
	/*border: 1px solid green;*/
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#header a {
	color: #88bbff;
}

#header-image {
	position: relative;
	float: left;
	left: 0px;
	margin-left: 0px;
}

#header-image img {
	height: 68px;
}

#header-title {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 200%;
	margin-left: 20px;
	padding-top: 4px;
}

#notifications-count {
	padding-left: 1px;
	padding-right: 1px;
	background-color: red;
	color: white;
	font-weight: bold;
}

#username {
	margin-left: 16px;
	margin-right: 4px;
}

.toolbar-text-link {
	margin-top: 4px;
	vertical-align: 8px;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

#logout {
	color: red;
}

#logout:hover {
	color: white;
}

#username:hover {
	color: white;
}

#header-toolbar {
	position: absolute;
	right: 0px;
}

#header-toolbar a {
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

#header-toolbar a:hover {
	color:white;
}

#header-toolbar img {
	margin-top: 4px;
}

#header-toolbar img:hover {
	background-color: #606060;
}


#nav {
	position: absolute;
	width: 100%;
	bottom: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

#nav ul {
	float: right;
	text-align: right;
	/*border: 1px dashed white;*/
	position: relative;
	right: 0px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
}

#subnav {
	text-align: right;
}

#nav li {
	display: inline;
	text-align: center;
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav a {
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	width: 92px;
	color: white;
	border: 1px solid black;
}


/*=========== Content ===========*/

#content {
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	font-size: 9pt;
}

#content h1 {
	width: 790px;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 4px;
}

table#main {
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*border: 1px solid red;*/
}

#main td {
	vertical-align: top;
}

.tab-title {
	display: block;
	width: 144px;
	font-size: 11pt;
}


/*=========== Footer ===========*/

#footer {
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px #808080 dashed;
	clear: both;
}

#footertext {
	float: left;
	width: 60%;
	height: 100%;
	font-size: 80%;
	text-align: left;
}

#footertext p {
	padding: 0px;
	margin: 0px;
}

.logogroup {
	vertical-align: middle;
	height: 100%;
	padding-right: 30px;
}


/*========== Login control =============*/

#login-form {
	text-align: center;	
}

#login h1 {
	width: 100%;
}

#content #login-form h2 {
	font-weight: bold;
	text-align: center;
	text-indent: 0px;
	font-size: 100%;
}

#login-form-text p {
	margin-top: 0px;
}

#login-form-contents table, tr, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#login-form-contents td {
	vertical-align: top;
}

#login-form-contents table {
	margin-bottom: 10px;
	width: 100%;
}

td.form-label {
	padding-right: 4px;
	text-align: right;
	width: 40%;
}

td.form-control {
	text-align: left;
}

a > img {
	border: none;
	text-decoration: none;
}

/*===========  Search  ============*/

.search-control {
	text-align: center;
}

.image-search-results {
	text-align: center;
}

/*=========== News box ============*/

#news-box {
	/* width: 180px; */
	border: 2px solid #303030;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 4px;
}

#news-box-header {
	background-color: #FFCC00;
	padding: 4px;
	font-weight: bold;
}

#news-box-contents {
	padding: 4px;
	font-weight: bold;
}

#news-box-footer {
	padding: 4px;
}

/*=========== Various things ============*/

.bordered {
	margin-top: 24px;
	border: thin solid blue;
}

.bordered:hover {
	border: thin solid red;
}

.username {
	font-weight: bold;
}

#postersample {
	margin-top: 20px;
	font-weight: bold;
}

#postersample img {
	border: none;
}

#footer {
	text-align: center;
}

ul.simple {
	list-style-type: none;
	padding-left: 0px;
}

ul.simple li {
	margin-bottom: 12px;
}

ul.simple li:before {
	display: none;
	/*content: none;*/
}

h2 + ul.simple {
	margin-left: 8px;
}

.warning {
	width: 100%;
	text-align: center;
	background-color: yellow;
	color: black;
	font-size: 160%;
}

.error {
	width: 100%;
	text-align: center;
	background-color: #ff5040;
	color: black;
	font-size: 160%;
	padding-left: 32px;
	padding-right: 32px;
}

label {
	margin-left: 4px;
}

#deletion-results {
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

#deletion-results td {
	padding: 2px;
}

#deletion-results td.success {
	background-color: #e0e0e0;
}

#deletion-results td.failure {
	background-color: #ff8050;
}

a img {
	border: none;
}

#notifications-popup {
	display: none;
	width: 256px;
	position: absolute;
	background-color: white;
	border: thin solid black;
	border-top: 2px solid #70df40;
	border-bottom: 2px solid black;
	z-index: 10;
	top: 24px;
	color: black;
	font-size: small;
}

#header #notifications-popup a {
	font-weight: normal;
}

#notifications-popup a {
	color: blue;
}

#notifications-popup a:hover {
	color: #8080ff;
}

#notifications-popup h1 {
	font-size: small;
	font-weight: bold;
	background-color: white;
}

#notifications-popup .hr {
	border-bottom: thin dotted gray;
	border-top: none;
	color: white;
	background-color: white;
}

#notifications-table {
	margin: 2px;
	width: 100%;
}

#notifications-table td {
	border-bottom: thin dotted #e0e0e0;
	text-align: left;
}

#notifications-table td.remove {
	width: 12px;
	vertical-align: top;
}

#notifications-table-detailed {
	margin-top: 16px;
	background-color: #ffffff;
	width: 100%;
	border: 
}

#notifications-table-detailed td {
	background-color: #e7e7e7;
	padding: 4px;
}

.send-notifications #form-table {
	background-color: white;	
}

.send-notifications #form-table td {
	padding: 8px;
	background-color: #e7e7e7;
	vertical-align: top;
}

.send-notifications .label {
	padding-right: 16px;
	width: 30%;
	text-align: right;
}

.send-notifications #destination {
	width: 100%;
}

#log {
	left: 0px;
	right: 0px;
	height: 106px;
	border: thin solid black;
	font-size: 8pt;
	background-color: #e0e0e0;
	padding: 4px;
	color: black;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	opacity: 0.9;
}

.plot-thumbnail-image {
	width: 150px;
	height: 150px;
}