#nav #subnav ul#sub-home { display:none; }
#nav #subnav ul#sub-data { display:none; }
#nav #subnav ul#sub-library { display:none; }
#nav #subnav ul#sub-siteindex { display:none; } 
#nav #subnav ul#sub-posters { display:none; }

#nav a#nav-upload {
	background-color: #ad499d;
	border-top: #c276b6 1px solid;
	border-left: #c276b6 1px solid;
	border-bottom: #7b346f 1px solid;
	border-right: #7b346f 1px solid;
}

#nav #subnav ul {
	float: right;
	clear: both;
	text-align: right;
	position: relative;
	right: 0px;
	padding-right: 0px;
}

.upload #footer {
	border: none;
}

h1 {
	background-color: #ad499d;
	color: #000000;
}

.upload #center h1 {
	font-weight: normal;
	font-size: 140%;
	width: 100%;
	padding-bottom: 6px;
	border-bottom: solid 2px orange;
	margin-left: 0px;
}

.upload #center h2 {
	font-weight: bold;
	font-size: 120%;
	margin-left: 0px;
}

.upload #center p {
	font-weight: normal;
	margin-left: 10px;
}

.upload #center ul {
	padding-left: 10px;
	padding-top: 6px;
}

.upload #center ul ul ul li {
	font-weight: normal;
}

.upload #center li {
	list-style-type: none;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}

a.button {
	background-color: #ff6600;
	border-top: #ffa76c 1px solid;
	border-left: #ffa76c 1px solid;
	border-bottom: #b54800 1px solid;
	border-right: #b54800 1px solid;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.upload dt {
	font-weight: bold;
}

.upload dd {
	padding-bottom: 6px;
}

#nav #subnav li a {
	background-color: #ad499d;
	border-top: #c276b6 1px solid;
	border-left: #c276b6 1px solid;
	border-bottom: #7b346f 1px solid;
	border-right: #7b346f 1px solid;
}

#subnav ul {
	float: right;
	text-align: right;
	/*border: 1px dashed white;*/
	position: relative;
	right: 45%;
	margin: 0px;
	padding-right: 0px;
}

#top {
	width: 100%;
	background-color: black;
	color: white;
	height: 96px;
}

#header-image img {
	height: 96px;
}

#nav a#nav-upload {
	color:black;
	background-color: #ad499d;
	border-top: #c276b6 1px solid;
	border-left: #c276b6 1px solid;
	border-bottom: #7b346f 1px solid;
	border-right: #7b346f 1px solid;
}

#nav #subnav a:hover {
	color: white;
}

/************* Tab **************/


.upload .tab {
	padding-top: 10px;
	width: 100%;
}

.upload .tab .tab-title {
	background-color: #4382bb;
	border-left: 1px solid #358974;
	border-right: 1px solid #358974;
	border-top: 1px solid #358974;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px;
}

.upload .tab .tab-contents {
	background-color: #99ccff;
	margin: 0px;
	border-top: 2px solid black;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
}

.upload #content .tab-contents h2 {
	font-weight: bold;
	font-style: italic;
	padding-left: 10px;
	font-size: 100%;
}

.upload #content .tab-contents li {
	font-weight: normal;
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.upload #content .tab-contents li:before {
	display: marker;
	content: url("../graphics/ref_dot.gif");
	marker-offset: auto;
	padding-right: 3px;
}

.form-controls {
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted black;
	padding: 8px;
}

.upload #center {
	text-align: center;
}

.upload td#center {
	text-align: center;
}

#upload-form {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	text-align: center;
	border: 1px solid black;
}

#button-line {
	text-align: left;
	border-top: 1px solid black;
	width: 450px;
	padding-top: 16px;
	padding-bottom: 12px;
}

#button-line input {
	margin-left: 12px;
}

#progressBar {
}

#progressBarBox { 
	width: 350px; 
	height: 20px; 
	border: 1px solid black; 
	background: #eee;
	margin-left: 10px;
}

#progressBarBoxContent { 
	width: 0px; 
	height: 20px; 
	border-right: 1px solid #444; 
	background: #9ACB34; 
	float: left;
}

#progressBarText { 
	position: absolute;
	padding-left: 12px;
}

#channels-table {
	margin-top: 8px;
	margin-bottom: 8px;
	border: thin solid black;
}

#channels-table th {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #c0c0c0;
}

#channels-table td {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #e0e0e0;
}

#error-list {
	text-align: left;
	margin-left: 40px;
	width: 600px;
	color: #666666;
}
#error-list ul {
	margin-left: 10px;
	margin-right: 10px;
}
#error-list li {
	margin-left: 10px;
	margin-right: 10px;
}
.error-message {
	margin-left: 10px;
	margin-right: 10px;
    color: #EE0000;
}

.redborder { 
	text-align: center; 
	margin-left: 5px; 
	margin-right: 5px; 
	margin-top: 5px; 
	border: 1px solid; 
	padding: 5px; 
	border-color: red;
}

#uploadwarning { 
	display: none; 
}