#settings {
	width: 600px;
	height: 400px;
	left: 200px;
	top: 100px;
}

.settings-section {
	margin-left: 16px;
}

.radio-group {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: thin solid gray;
	padding: 4px;
	padding-top: 0px;
	padding-bottom: 8px;
	margin-top: 8px;
}

.radio-group-label {
	display: inline;
	position: relative;
	top: -8px;
	background-color: black;
	padding-left: 4px;
	padding-right: 4px;
}

.white .radio-group-label {
	background-color: white;
}
