<style type="text/css">
.sub {color: #000000;font-family: sans-serif;font-size: 8pt;}
.sub:link {text-decoration: none}
.sub:visited {text-decoration: none}
.log {font-size: small;font-family: sans-serif; color: #6699FF}
.log:visited {color: #99CCFF}
.table {color: #0000FF,font-family: ariel,sans-serif;font-size: 12px;}
.table:link {text-decoration: underline}
.table:visited {text-decoration: underline; color:blue}
.table: {text-decoration: underline}
.table: {padding: 4em; border-collapse: collapse; width: 480px}

.orderby {background-color: lightyellow}

body { font:12px arial, helvetica, sans-serif;
     background-color: #FFFFFF;
     background-image: url("../graphics/Quadrille.gif");
     background-repeat: repeat;
     }
    :link { color: rgb(0, 0, 232); TEXT-DECORATION: underline }
    :visited { color: rgb(26, 139, 200); TEXT-DECORATION: underline }
    :active { color: rgb(6, 96, 96) }
    
td {
        font-size:12px;  
        }

p {
	font:12px arial, helvetica, sans-serif;  

	}


</style>
